%block {
  display: block;
}

%link {
  display: block;
  text-decoration: none;
}

%flex {
  display: flex;
}

%flex-justify-between {
  justify-content: space-between;
}

%text-uppercase {
  text-transform: uppercase;
}
